
<div class="card text-center" style="width: 18rem;">
  <img class="card-img-top mt-3" src="@Model.ImagemPequenaUrl" alt="Card image cap" asp-append-version="true">
  <div class="card-body ">
    <h5 class="card-title"> <a class=" btn border-white text-white" asp-controller="Item" asp-action="Details" asp-route-itemId="@Model.ItemId">@Model.Nome</a></h5>
    <p class="card-text">@Model.DescricaoCurta</p>
    <h3>Preço : @Model.Preco.ToString("c")</h3>
     <a class="btn border-danger text-dark mt-2" id="cartButton" asp-controller="Carrinho"
                asp-action="AdicionarItemNoCarrinhoCompra" asp-route-itemId="@Model.ItemId">
                Incluir no Carrinho
            </a>
  </div>
</div>

