@model CarrinhoViewModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<div class="container">

    <div class="row checkoutForm">

            <h4 class=" text-white">Seu carrinho de compras : </h4>
        
        <table class="table table-bordered table-striped text-white">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Item</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Carrinho.CarrinhoItens)
                {
                    <tr>
                        <td class="text-center text-white">@item.Quantidade</td>
                        <td class="text-left text-white">@item.Item.Nome</td>
                        <td class="text-right text-white">@item.Item.Preco.ToString("c")</td>
                        <td class="text-right text-white">
                            @((item.Quantidade * item.Item.Preco).ToString("c"))
                        </td>
                        <td class="text-center text-white">
                            <a asp-controller="Carrinho" asp-action="RemoverCarrinho"
                                asp-route-itemId="@item.Item.ItemId"><i class="bi bi-reply text-white"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.CarrinhoTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

       
            <div class="btn-group gap-3 my-3 ms-auto">
                <a class="btn border-white text-white bg-danger" asp-controller="Pedido" asp-action="Checkout">Encerrar
                    Pedido</a>

               
                <a class="btn border-white text-white bg-success" asp-controller="Item" asp-action="List">Continuar
                    Comprando</a>
            </div>
       
       
    </div>
</div>

<div class="tamanho2"></div>