@model IEnumerable<Aztromick2.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Categoria</h1>

<p>
    <a class="btn border-white text-white mt-3" asp-action="Create">Criar Categoria</a>
</p>
    

<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn border-white text-white"  asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                <a class="btn border-white text-white"  asp-action="Details" asp-route-id="@item.CategoriaId">Detalhes</a> |
                <a class="btn border-white text-white" asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
